@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Red Hat Display", sans-serif;
}

h1,h2,h3,p,a,span{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: grid;
    grid-template-rows: auto 1fr;
    width: 450px;
    height: 700px;
    background: white;
    border-radius: 20px;
}

.img-titulo{
    width: 100%;
    height: 250px;
    background-image: url(images/illustration-hero.svg);
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.conteudo{
    padding: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo h1{
    font-weight: 900;
}

.conteudo p{
    max-width: 30ch;
    align-self: center;
    color: hsl(224, 23%, 55%);
}

.plano{
    display: flex;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.plano-preco{
    display: flex;
    gap: 20px;
    align-items: center;
}

.plano-preco h4{
    margin-bottom: 5px;
    font-weight: 900;
}

.plano-preco span{
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    font-size: 1rem;
}

.plano img{
    background: hsl(225, 100%, 94%);
    border-radius: 50%;
}

.change{
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: 800;
    font-size: .875rem;
}

button{
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 800;
    font-size: .875rem;
    padding: 15px 0px;
    border-radius: 10px;
    border: none;
}

.cancel{
    font-weight: 800;
    color: hsl(224, 23%, 55%);
}